.btn-group{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
  }
  
  #men{
  display: flex;
  list-style: none;
  gap: 0.625em;
  }
  
  #men > li > a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.125em;
  }
  li:hover{ transform: scale(1.2);
    transition: 1s;
  }