//paletas de colores

$color1: salmon;

$color2: skyblue;

$color3: crimson;


$letragrande: 90px;
$letramediana: 50px;
$letrachica: 20px;

$font: sans-serif;
$font2: cursive;

@import"_error404"


